-e .
easy_thumbnails==2.8.1
WebTest==3.0.0
django-webtest==1.9.9
coverage==6.3
isort==5.10.1
pytest==6.2.5
pytest-cov==3.0.0
pytest-django==4.5.2
pytest-env==0.6.2
pytest-factoryboy==2.1.0
pytest-html==3.1.1
pytest-isort==2.0.0
pytest-black==0.3.12
