easy_thumbnails==2.3
PyVirtualDisplay==0.2
selenium==2.53.1
WebTest==2.0.20
django-webtest==1.7.8
coverage==4.0.3

isort==4.2.5
pytest==2.8.3
pytest-cov==2.2.0
pytest-django==2.9.1
pytest-env==0.6.0
pytest-factoryboy==1.1.5
pytest-html==1.8.0
pytest-isort==0.1.0
pytest-pep8==1.0.6
pytest-sugar==0.5.1
