easy_thumbnails==2.5.0
WebTest==2.0.30
django-webtest==1.9.3
coverage==4.5.1

isort==4.3.4
pytest==3.8
pytest-cov==2.6.0
pytest-django==3.4.2
pytest-env==0.6.2
pytest-factoryboy==2.0.1
pytest-html==1.19.0
pytest-isort==0.2.0
pytest-pep8==1.0.6
pytest-sugar==0.9.1
