{% load thumbnail %}
<!DOCTYPE html>
<html>
  <head>
    <title>Image cropping example</title>
    {{ form.media }}
  </head>
  <body>
    <p><b>Preview only! Add/Edit Images in Admin.</b></p>
    <table>
      <thead>
        <th>Form</th>
        <th>Result</th>
      </thead>
      <tbody>
        <tr>
          <td>
            <table>
              {{ form }}
            </table>
          </td>
          <td>
            <img src="{% thumbnail image.image_field 120x100 box=image.cropping crop detail %}" />
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
