{% load thumbnail %}
<!DOCTYPE html>
<html>
  <head>
    <title>Image cropping example</title>
    {{ form.media }}
  </head>
  <body>
    <p><b>Preview only! Add/Edit Images in Admin.</b></p>
    {% if not image or not imagefk %}
      <p style="color: #cc0000;"><b>Please upload an Image in Admin.</b></p>
    {% endif %}
    <table>
      <thead>
        <th>example form</th>
        <th>cropped image</th>
        <th>crop fk-image</th>
      </thead>
      <tbody>
        <tr>
          <td>
            <table>
              {{ form }}
            </table>
          </td>
          <td>
            <img src="{% thumbnail image.image_field 120x100 box=image.cropping crop detail %}" />
          </td>
          <td>
            <img src="{% thumbnail imagefk.image.image_field 120x100 box=imagefk.cropping crop detail %}" />
          </td>
      </tbody>
    </table>
  </body>
</html>
